html {
    ;
}
nav {
    padding-bottom: 2em;
    margin-bottom: 2em;
}
h2 {
    padding: 20px;
}
.source-card{

}
#source-name{
    font-family: 'Livvic', sans-serif;
    font-weight: bold;

}
#source-name a:hover{
    text-decoration: none;
    font-weight: bolder;
}
.desc{

    font-size:18px;
}