html {
    ;
}
nav {
    padding-bottom: 2em;
    margin-bottom: 2em;
}
h2 {
    padding: 20px;
}
.main-card{
    padding-left: 1em;
    padding-right: 1em;

}
.card{
    padding-left: 1em;
    padding-right: 1em;
}
#source-name{
    font-family: 'Livvic', sans-serif;
    font-weight: bold;

}
#source-name a:hover{
    text-decoration: none;
    font-weight: bolder;
}
.desc{

    font-size:18px;
}
.view {
    height: 100%;
}