{% extends "base.html"%}
{% import 'news_macros.html' as macro %}

{% block content %}

    <div class="" id="" >
        <div class="">
            <h2 class="text-center font-weight-bold headers h1" >General News</h2>
            {{ macro.show_news_sources(general) }}
            <h2 class="text-center font-weight-bold headers" >Tech News</h2>
            {{ macro.show_news_sources(tech) }}
            <h2 class="text-center font-weight-bold headers" > Business News</h2>
            {{ macro.show_news_sources(business) }}
            <h2 class="text-center font-weight-bold headers" > Sports news </h2>
            {{ macro.show_news_sources(sports) }}
        </div>
    </div>


{% endblock %}